In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 3)
def print_results(file):
    df = pd.read_table(file, sep = ';')
    df["average time spent (second)"] = df["average time spent "] / 1000
    print(df.loc[0, "modelName"][-1])
    if df.loc[0, "modelName"][-1] == '-':
        for i in range(len(df)):
            if df.loc[i, 'modelName'][0] == 'o':
                df.loc[i, 'modelName'] += '6-'
            else:
                df.loc[i, 'modelName'] += '4-'
            df.loc[i, 'modelName'] += "crashCost-5" 
    selected_columns = ["modelName", "shieldLevel", 'average undiscounted reward', 'average discounted reward',
           'average time spent (second)']

    selected = df[df.loc[:, "numEpisode"] == df.loc[0, "numEpisodes"]]
    selected = selected.loc[:, selected_columns]
    return selected

In [2]:
import os
files = os.listdir()
files = [file for file in files if "txt" in file]
files.sort()
files

['obstacle-6-crashCost-10-1655878220678.txt',
 'obstacle-6-crashCost-5-1655867304477.txt',
 'refuel-6-8-crashCost-10-1655870627648.txt',
 'refuel-6-8-crashCost-5-1655868393196.txt',
 'rocks-4-crashCost-10-1655874528079.txt',
 'rocks-4-crashCost-5-1655867486267.txt']

In [13]:
result_file = 'obstacle-6--1658804793756.txt'
result = pd.read_table(result_file, sep = ';')
result.columns

Index(['modelName', 'nStates', 'shieldLevel', 'useLocalShield', 'numEpisode', 'numEpisodes', 'undiscounted reward', 'discounted reward', 'numBad', 'timeSpent', 'average undiscounted reward', 'average discounted reward', 'average time spent ', 'average numBad'], dtype='object')

In [19]:
result_file = 'obstacle-6--1658804793756.txt'
result = pd.read_table(result_file, sep = ';')
result = result.loc[result.numEpisode == result.numEpisodes]
result.shieldLevel.replace(4, "on-the-fly", inplace = True)
result.shieldLevel.replace(2, "prior", inplace = True)
result.useLocalShield.replace("True", "Factored")
result.useLocalShield.replace("False", "Centralized")
result.rename(columns = {"shieldLevel": "shileding place"}, inplace = True)
result.rename(columns = {"useLocalShiled": "shiled type"}, inplace = True)

selected_columns = ['modelName', 'nStates', 'shileding place', 'shileding place','average undiscounted reward', 'average discounted reward', 
                    'average time spent ', 'average numBad']
result = result.loc[:, selected_columns]
result

AttributeError: 'DataFrame' object has no attribute 'useLocalShiled'

In [4]:
print_results(files[i])

0

          modelName          shieldLevel  average undiscounted reward  average discounted reward  average time spent (second)
9   obstacle-6-crashCost-10       0                 -34.1                      -16.871                        6.467
19  obstacle-6-crashCost-10       1                 -27.1                      -13.006                        5.818
29  obstacle-6-crashCost-10       2                 -35.5                      -15.135                        8.586
39  obstacle-6-crashCost-10       3                 -43.0                      -15.302                      106.136
49  obstacle-6-crashCost-10       4                 -20.9                      -12.078                        9.406

In [5]:
i += 1
print_results(files[i])

-

          modelName         shieldLevel  average undiscounted reward  average discounted reward  average time spent (second)
9   obstacle-6-crashCost-5       0                 -12.4                       -9.723                       0.712
19  obstacle-6-crashCost-5       1                 -13.3                       -9.339                       1.734
29  obstacle-6-crashCost-5       2                 -12.7                       -8.911                       1.675
39  obstacle-6-crashCost-5       3                  -9.6                       -7.357                       8.761
49  obstacle-6-crashCost-5       4                 -12.7                       -8.908                       3.991

In [6]:
i += 1
print_results(files[i])

0

          modelName          shieldLevel  average undiscounted reward  average discounted reward  average time spent (second)
9   refuel-6-8-crashCost-10       0                   -5.9                      -4.956                        0.440
19  refuel-6-8-crashCost-10       1                  -90.9                     -22.777                        6.026
29  refuel-6-8-crashCost-10       2                 -150.2                     -22.517                       11.612
39  refuel-6-8-crashCost-10       3                 -105.7                     -22.598                      204.655
49  refuel-6-8-crashCost-10       4                 -142.2                     -24.402                      167.158

In [7]:
i += 1
print_results(files[i])

5

          modelName         shieldLevel  average undiscounted reward  average discounted reward  average time spent (second)
9   refuel-6-8-crashCost-5       0                  -5.8                       -4.879                        0.437
19  refuel-6-8-crashCost-5       1                 -54.0                      -17.239                        3.610
29  refuel-6-8-crashCost-5       2                 -60.6                      -19.560                        4.660
39  refuel-6-8-crashCost-5       3                 -77.1                      -21.471                      141.721
49  refuel-6-8-crashCost-5       4                 -61.5                      -20.906                       69.652

In [8]:
i += 1
print_results(files[i])

0

         modelName        shieldLevel  average undiscounted reward  average discounted reward  average time spent (second)
9   rocks-4-crashCost-10       0                 -25.8                      -16.945                        5.970
19  rocks-4-crashCost-10       1                 -48.0                      -16.985                       39.346
29  rocks-4-crashCost-10       2                 -60.8                      -15.493                       67.546
39  rocks-4-crashCost-10       3                 -35.8                      -14.529                      125.714
49  rocks-4-crashCost-10       4                 -52.0                      -16.432                      130.560

In [9]:
i += 1
print_results(files[i])

-

        modelName        shieldLevel  average undiscounted reward  average discounted reward  average time spent (second)
9   rocks-4-crashCost-5       0                 -13.0                       -9.843                       5.845
19  rocks-4-crashCost-5       1                 -22.4                      -11.202                      12.216
29  rocks-4-crashCost-5       2                 -23.1                      -12.431                       6.939
39  rocks-4-crashCost-5       3                 -13.4                       -9.196                      27.058
49  rocks-4-crashCost-5       4                 -20.4                      -12.439                      24.377

In [ ]:
Remember to update as soon as possible
1. talk about running example of abstraction
    - with prism files
    - explain prism file, observation; transition
    - explain concerns
        - belief support will cross shileds
2. confirm way to get next states
3. ask ways to get the args